*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
   
}

body{
    width: 1024px;
}


header{
    width: 100%;
}

.header1{
    height: 20px;
    background-color: #1CD1B0;

}

.header2{
    height: 80px;
    background-color:#00669F;
    color: white;
}

h3{
    position: relative;
    top: -45px;
    left: 110px;
}

h1{
    position: relative;
    left: 275px;
    top: 160px;
}

.form{
    position: relative;
    top: 200px;
    left: 275px;

}

.boton{
    width: 540px;
    height: 30px;
    background-color: #1CD1B0;
    color: black;
    text-align: center;
    border-radius: 20px;
}

.registro{
    position: relative;
    left: 430px;
    top: 220px;
}

.contraseña, .usuario{
    width: 540px;
    height: 30px;
}


footer{
    width: 100%;
    background-color: #00669F;
    color: white;
    text-align: center;
    position: relative;
    bottom: -450px;
}