
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    width: 515px;

}

.seccion1Header{
    display: none;
}

.listaHeader1{
    display: none;
}


.seccion2Header{
    width: 100%;
    height: 60px;
    background-color: #F0A83E;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.imgSeccion2{
    position: relative;
    top: 20px;
    left: 30px;
}


.imgHeader2{
    position: relative;
    top: 18px;
    right: 30px;
    
}

.listaHeader2{
    display: none;
}

.imgPrincipal1{
    display: none;
}

.imgPrincipal2{
    width: 100%;
}


.h1Img{
    position: absolute;
    left: 120px;
    top: 255px;
    width: 390px;
    height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    border-radius: 5px;
}

.h5Img{
    position: absolute;
    left: 290px;
    top: 310px;
    font-size: large;
}

.botonImg{
    position: absolute;
    left: 346px;
    top: 360px;
    background-color: #F0A83E;
    border-radius: 5px;
    color: white;
    width: 118px;
    height: 50px;
}



.huellita{
    position: relative;
    left:250px;
    height: 90px;
    width: 100px;
}

.h1Prod{
    position: relative;
    left:200px;
    width:200px;
    font-size: 40px;
    text-align: center;
}


.navProd{
    position: relative;
    top: 60px;
    font-size: 20px;
}
.ulProd{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.seccionImg{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 120px;
}

.h4Imagenes1{
    position: absolute;
    top: 220px;
    left: 170px;
    text-align: center;
}

.pImagenes1{
    position: absolute;
    top: 240px;
    left: 230px;
    color: #F0A83E;
}
 

.h4Imagenes2{
    position: absolute;
    top: 490px;
    left: 180px;
    text-align: center;
}

.pImagenes2{
    position: absolute;
    top: 515px;
    left: 240px;
    color: #F0A83E;
}
 
.h4Imagenes3{
    position: absolute;
    top: 760px;
    left: 190px;
    text-align: center;
}

.pImagenes3{
    position: absolute;
    top: 780px;
    left: 230px;
    color: #F0A83E;
}
 


.formulario{
    position: relative;
    top: 200px;
    left: 80px;

}

.tituloFormulario{
    position: relative;
    left: 30px;
    font-size: 50px;
}
.itemsFormularios{
    width: 340px;
    height: 50px;
    border-radius: 10px;
    background-color: #3C2313;
    color: white;
    margin: 20px;
    font-size:small;
    text-align: left;
}

.botonFormulario{
    position: relative;
    left: -40px;
    top: 20px;
    background-color: #8A8787;
    border-radius: 40px;
    width: 225px;
    color: white;
    height: 55px;
    font-size: large;
}

.botonFormulario2{
    position: relative;
    left: -25px;
    top: 20px;
    background-color: #F0A83E;
    border-radius: 40px;
    width: 225px;
    color: white;
    height: 55px;
    font-size: large;
}


.seccionFooter{
    width: 100%;
    height: 140px;
    background-color: #F0A83E;
    color: white;
    position: relative;
    top: 270px;

}

.pseccionFooter{
    position: absolute;
    left: 40px;
    top:22px;
    font-size: 30px;
    
}

.pseccionFooter2{
    position: absolute;
    left: 10px;
    top:75px;
    font-size: small;
    width: 305px;
    background-color: white;
    color: black;
    height: 50px;
    border-radius: 20px;
    text-align: center;
}

.botonseccionFormulario{
    background-color: #3C2313;
    color: white;
    border-radius: 20px;
    height: 48px;
    top: 65px;
    position: relative;
    left: 280px;
    width: 140px;
}

.datosFormularios{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    top: 270px;
    width: 100%;
    background-color: #3C2313;
    height: 360px;
    
}



.logoFooter{
    position: relative;
    left: 14px;
    bottom: 10px;
}

footer{

    position: relative;
    bottom: -250px;
    background-color: black;
    color: white;
    text-align: center;
    height: 20px;
}




@media (min-width: 516px){


    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: "Roboto";
    }
    
    li{
        display: inline;
        font-size: large;
        
    }
    
    body{
        width: 1024px;
    }
    
    .seccion1Header{
        width: 100%;
        height: 20px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
    }
    
    .listaHeader1{
        display: inline;
        position: relative;
        top: 1px;
        right: 20px;
    }
    
    .listaHeader2{
        display: inline;
        position: relative;
        top: 18px;
        right: 20px;
    }
    .seccion2Header{
        width: 100%;
        height: 60px;
        background-color: #F0A83E;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    
    .imgSeccion2{
        position: relative;
        top: 20px;
    }
    
    .imgHeader2{
        display: none;
        position: relative;
        top: 18px;
        right: 30px;
        
    }


    .imgPrincipal2{
        display: none;
    }

    .imgPrincipal1{
        display: block;
    }

    .h1Img{
        position: absolute;
        left: 640px;
        top: 240px;
        width: 370px;
        height: 40px;
        background-color: #FFFFFF;
        color: black;
        border-radius: 5px;
    }
    
    .h5Img{
        position: absolute;
        left: 730px;
        top: 290px;
    }
    
    .botonImg{
        position: absolute;
        left: 750px;
        top: 320px;
        background-color: #F0A83E;
        border-radius: 5px;
        color: white;
        width: 118px;
        height: 50px;
    }
    
    .huellita{
        position: relative;
        left:430px;
    }
    
    .h1Prod{
        position: relative;
        left:165px;
        top: 54px;
        display: inline;
    }
    
    
    .navProd{
        position: relative;
        top: 50px;
    }
    .ulProd{
       
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    
    
    .seccionImg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: 80px;
    }
    
    
    
    .h4Imagenes1{
        position: absolute;
        top: 220px;
        left: 45px;
        text-align: center;
    }
    
    .pImagenes1{
        position: absolute;
        top: 240px;
        left: 120px;
        color: #F0A83E;
    }
     
    .h4Imagenes2{
        position: absolute;
        top: 220px;
        left: 435px;
        text-align: center;
    }
    
    .pImagenes2{
        position: absolute;
        top: 240px;
        left: 500px;
        color: #F0A83E;
    }


    .h4Imagenes3{
        position: absolute;
        top: 220px;
        left: 835px;
        text-align: center;
    }
    
    .pImagenes3{
        position: absolute;
        top: 240px;
        left: 870px;
        color: #F0A83E;
    }

    
    .formulario{
        position: relative;
        top: 130px;
        left: 340px;
    
    }
    
    .tituloFormulario{
        position: relative;
        left: 35px;
    }
    .itemsFormularios{
        width: 340px;
        height: 40px;
        border-radius: 10px;
        background-color: #3C2313;
        color: white;
        margin: 5px;
        font-size:large;
    }
    
    .botonFormulario{
        position: relative;
        left: 25px;
        top: 20px;
        background-color: #8A8787;
        border-radius: 10px;
        width: 120px;
        color: white;
        height: 35px;
        font-size: large;
    }
    
    .botonFormulario2{
        position: relative;
        left: 50px;
        top: 20px;
        background-color: #F0A83E;
        border-radius: 10px;
        width: 120px;
        color: white;
        height: 35px;
        font-size: large;
    }
    
    .seccionFooter{
        width: 100%;
        height: 60px;
        background-color: #F0A83E;
        color: white;
        position: relative;
        top: 210px;
    
    }
    
    .pseccionFooter{
        position: absolute;
        left: 55px;
        top:12px;
        font-size: large;
        
    }
    
    .pseccionFooter2{
        position: absolute;
        left: 450px;
        top:16px;
        font-size: small;
        width: 390px;
        background-color: white;
        color: black;
        height: 35px;
        border-radius: 10px;
    }
    
    .botonseccionFormulario{
        background-color: #3C2313;
        color: white;
        border-radius: 10px;
        height: 35px;
        top: -2px;
        position: relative;
        left: 810px;
        
    }
    
    .datosFormularios{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        top: 210px;
        width: 100%;
        background-color: #3C2313;
        font: larger;
        padding-top: 30px;
    }
    
    
    
    .logoFooter{
        position: relative;
        left: 775px;
        bottom: 114px;
    }
    
    footer{
    
        position: relative;
        bottom: -210px;
        background-color: black;
        color: white;
        text-align: center;
        height: 20px;
    }


}








